# Binaries for programs and plugins
*.exe
*.dll
*.so
*.DS_Store
*.dylib
debug
.idea/*
*.vscode

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
gotestsum-report.xml

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Output of the goteststum tool
gotestsum-report.xml 

# coverage file
coverage.txt

# patron binaries
/cmd/patron/patron
