version: 2
jobs:
  build:
    docker:
      - image: mantzas/patron-circleci:0.2

    environment:
      TEST_RESULTS: /tmp/test-results

    steps:

      - run:
          name: Getting linter and unit test reporter
          command: |
            go get -u golang.org/x/lint/golint
            go get -u github.com/jstemmer/go-junit-report

      - checkout

      - run:
          name: Running linter
          command: |
            golint -set_exit_status=1 `go list -mod=vendor ./...`

      - run:
          name: Running with test coverage and send to codecov
          command: |
            mkdir -p $TEST_RESULTS
            trap "go-junit-report <${TEST_RESULTS}/go-test.out > ${TEST_RESULTS}/go-test-report.xml" EXIT
            go test ./... -cover -race -mod=vendor -coverprofile=coverage.txt -covermode=atomic | tee ${TEST_RESULTS}/go-test.out
            bash <(curl -s https://codecov.io/bash)

      - store_artifacts:
          path: /tmp/test-results
          destination: raw-test-output

      - store_test_results:
          path: /tmp/test-results