version: 2
jobs:
  build:
    docker:
      - image: mantzas/patron-circleci:0.3

    environment:
      TEST_RESULTS: /tmp/test-results

    steps:

      - checkout

      - run:
          name: Running linter
          command: |
            golint -set_exit_status=1 `go list -mod=vendor ./...`

      - run:
          name: Running with test coverage and send to codecov
          command: |
            mkdir -p $TEST_RESULTS
            gotestsum --junitfile ${TEST_RESULTS}/unit-tests.xml -- -coverprofile=coverage.txt ./...    
            bash <(curl -s https://codecov.io/bash)

      - store_test_results:
          path: /tmp/test-results
       
      - store_artifacts:
          path: /tmp/test-results
          destination: raw-test-output