version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.10.3
      
    working_directory: /go/src/github.com/mantzas/patron
    steps:
      - checkout

      - run:
          name: Getting linter
          command: go get -u golang.org/x/lint/golint
      
      - run:
          name: Running linter
          command: golint -set_exit_status=1 `go list ./...`
      - run:
          name: Running with test coverage
          command: go test ./... -cover -race -coverprofile=coverage.txt -covermode=atomic

      - run:
          name: Send code coverage to codecov
          command: bash <(curl -s https://codecov.io/bash)